*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    /*width: 100%;*/
    /*height: 100%;*/
    height: auto;
    scrollbar-face-color: #889B9F;
    scrollbar-shadow-color: #3D5054;
    scrollbar-highlight-color: #C3D6DA;
    scrollbar-3dlight-color: #3D5054;
    scrollbar-darkshadow-color: #85989C;
    scrollbar-track-color: #95A6AA;
    scrollbar-arrow-color: #FFD6DA;
}

a, a:hover, a:visited, a:active{
    text-decoration: none;
}
li{
    list-style: none;
}
ul{
    margin: 0;
}
.clear-fix:after{
    content: "";
    display: block;
    clear: both;
}
.clear-fix{
    zoom: 1;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.center-vertical{
    position: relative;
    top: 50%;
    transform: translateY(10%);
}
h1{
    margin: 0;
}
.specs-background{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -999;
}
.specs-background img{
    width: 100%;
    height: 100%;
    position: absolute;
}
