$lgWidth: 1300px;
$mdWidth: 992px;
$smWidth: 768px;
$xsWidth: 560px;
$topTips: 49px;
$t: 1;

.login-container {
  background: rgba(250, 254, 255, 0.7);
  z-index: 1;
  position: absolute;
  overflow: hidden;
  width: 350px;
  height: 300px;
  left: 50%;
  margin-left: -175px;
  top: 25%;
}
.register-container{
  background: rgba(250, 254, 255, 0.7);
  z-index: 1;
  position: absolute;
  overflow: hidden;
  width: 350px;
  height: 350px;
  left: 50%;
  margin-left: -175px;
  top: 25%;
}

@each $width in $xsWidth, $smWidth, $mdWidth, $lgWidth {
  @media only screen and (max-width: #{$width}) {
    @if $width == $xsWidth {
      .login-container {
        width: 250px;
        height: 300px;
        left: 50%;
        margin-left: -125px;
        top: 25%;
      }
      .button-inline {
        width: 15%;
      }
      .input-inline {
        width: 85%;
      }
      .register-container{
        width: 250px;
        height: 350px;
        left: 50%;
        margin-left: -125px;
        top: 25%;
      }
      .pwd-tip{
        display: inline-block;
        position: absolute;
        padding: 5px 7px 5px 8px;
        opacity: 0.8;
        color: #f8f8f8;
        font-weight: bold;
        border-radius: 2px;
        border: 2px solid transparent;
      }
      .md-padding{
        padding-left: 1px;
        padding-right: 1px;
      }
      @for $i from 1 through 4{
        .jstips-#{$i}{
          position: absolute;
          left: $width * 0.13;
          top: 28px + ($i -$t)  * $topTips;
          z-index: 2;
          background: rgba(175, 34, 37, 0.84);
          padding: 5px 10px;
          color: rgba(248, 248, 248, 0.97);
          border: 1px solid transparent;
          border-radius: 3px;
          font-size: 12px;
        }
        .jstips-#{$i}::before{
          content: '';
          display: block;
          position: absolute;
          top: 27px;
          left: 38%;
          border: 14px solid transparent;
          border-top: 8px solid rgba(175, 34, 37, 0.84);
          width: 0;
        }
      }
      .tip-left{
        left: 10px;
      }
    }
  }
  @media only screen and (min-width: #{$width}) {
    @if $width == $xsWidth {
      .login-container {
        width: 300px;
        height: 300px;
        left: 50%;
        top: 25%;
        margin-left: -150px;
      }
      .button-inline {
        width: 15%;
      }
      .input-inline {
        width: 85%;
      }
      .register-container{
        width: 300px;
        height: 350px;
        left: 50%;
        margin-left: -150px;
        top: 25%;
      }
      .pwd-tip{
        display: inline-block;
        position: absolute;
        padding: 5px 10px 5px 11px;
        opacity: 0.8;
        color: #f8f8f8;
        font-weight: bold;
        border-radius: 2px;
        border: 2px solid transparent;
      }
      .md-padding{
        padding-left: 4px;
        padding-right: 4px;
      }
      @for $i from 1 through 4{
        .jstips-#{$i}{
          position: absolute;
          left: $width * 0.15;
          top: 25px + ($i -$t)  * $topTips;
          z-index: 2;
          background: rgba(175, 34, 37, 0.84);
          padding: 5px 10px;
          color: rgba(248, 248, 248, 0.97);
          border: 1px solid transparent;
          border-radius: 3px;
        }
        .jstips-#{$i}::before{
          content: '';
          display: block;
          position: absolute;
          top: 30px;
          left: 38%;
          border: 14px solid transparent;
          border-top: 8px solid rgba(175, 34, 37, 0.84);
          width: 0;
        }
      }
      .tip-left{
        left: 20px;
      }
    }
    @if $width == $smWidth {
      .login-container {
        width: 350px;
        height: 300px;
        left: 50%;
        top: 30%;
        margin-left: -175px;
      }
      .button-inline {
        width: 13%;
      }
      .input-inline {
        width: 87%;
      }
      .register-container{
        width: 350px;
        height: 350px;
        left: 50%;
        margin-left: -175px;
        top: 25%;
      }
      .pwd-tip{
        display: inline-block;
        position: absolute;
        padding: 5px 11px;
        opacity: 0.8;
        color: #f8f8f8;
        font-weight: bold;
        border-radius: 2px;
        border: 2px solid transparent;
      }
      .md-padding{
        padding-left: 4px;
        padding-right: 4px;
      }
      @for $i from 1 through 4{
        .jstips-#{$i}{
          position: absolute;
          left: $width * 0.15;
          top: 25px + ($i -$t)  * $topTips;
          z-index: 2;
          background: rgba(175, 34, 37, 0.84);
          padding: 5px 10px;
          color: rgba(248, 248, 248, 0.97);
          border: 1px solid transparent;
          border-radius: 3px;
        }
        .jstips-#{$i}::before{
          content: '';
          display: block;
          position: absolute;
          top: 30px;
          left: 38%;
          border: 14px solid transparent;
          border-top: 8px solid rgba(175, 34, 37, 0.84);
          width: 0;
        }
      }
      .tip-left{
        left: 40px;
      }
    }
    @if $width == $mdWidth {
      .login-container {
        width: 600px;
        height: 300px;
        left: 50%;
        top: 25%;
        margin-left: -300px;
      }
      .button-inline {
        width: 7%;
      }
      .input-inline {
        width: 93%;
      }
      .register-container{
        width: 600px;
        height: 350px;
        left: 50%;
        margin-left: -300px;
        top: 25%;
      }
      .pwd-tip{
        display: inline-block;
        position: absolute;
        padding: 5px 10px;
        opacity: 0.8;
        color: #f8f8f8;
        font-weight: bold;
        border-radius: 2px;
        border: 2px solid transparent;
      }
      .md-padding{
        padding-left: 3px;
        padding-right: 3px;
      }
      @for $i from 1 through 4{
        .jstips-#{$i}{
          position: absolute;
          left: $width * 0.25;
          top: 25px + ($i -$t)  * $topTips;
          z-index: 2;
          background: rgba(175, 34, 37, 0.84);
          padding: 5px 10px;
          color: rgba(248, 248, 248, 0.97);
          border: 1px solid transparent;
          border-radius: 3px;
        }
        .jstips-#{$i}::before{
          content: '';
          display: block;
          position: absolute;
          top: 30px;
          left: 38%;
          border: 14px solid transparent;
          border-top: 8px solid rgba(175, 34, 37, 0.84);
          width: 0;
        }
      }
    }
    @if $width == $lgWidth {
      .login-container {
        width: 600px;
        height: 300px;
        left: 50%;
        top: 25%;
        margin-left: -300px;
      }
      .button-inline {
        width: 7%;
      }
      .input-inline {
        width: 93%;
      }
      .register-container{
        width: 600px;
        height: 350px;
        left: 50%;
        margin-left: -300px;
        top: 25%;
      }
      .pwd-tip{
        display: inline-block;
        position: absolute;
        padding: 5px 10px;
        opacity: 0.8;
        color: #f8f8f8;
        font-weight: bold;
        border-radius: 2px;
        border: 2px solid transparent;
      }
      .md-padding{
        padding-left: 3px;
        padding-right: 3px;
      }
      @for $i from 1 through 4{
        .jstips-#{$i}{
          position: absolute;
          left: $width * 0.25;
          top: 25px + ($i -$t)  * $topTips;
          z-index: 2;
          background: rgba(175, 34, 37, 0.84);
          padding: 5px 10px;
          color: rgba(248, 248, 248, 0.97);
          border: 1px solid transparent;
          border-radius: 3px;
        }
        .jstips-#{$i}::before{
          content: '';
          display: block;
          position: absolute;
          top: 30px;
          left: 38%;
          border: 14px solid transparent;
          border-top: 8px solid rgba(175, 34, 37, 0.84);
          width: 0;
        }
      }
    }
  }
}

.toggle-bar li {
  display: inline-block;
  color: black;
  padding: 0;
  cursor: pointer;
  font: 18px/2 'microsoft YaHei';
}

.toggle-bar .active {
  border-bottom: 1px solid #578fff;
  color: #2f64af;
  z-index: -2;
}

.toggle-bar span {
  font-size: 18px;
  display: inline-block;
}

.form {
  width: 90%;
  margin: 20px auto 0;
}

.button-inline, .input-inline {
  display: inline-block;
}

.button-inline button {
  width: 100%;
}

form input:focus, form button:focus {
  border: 1px solid rgba(0, 186, 207, 0.84);
}

.error-input {
  background: #af2225;
  width: 100%;
  text-align: center;
  font: 16px/1.8 'microsoft YaHei';
  color: rgba(229, 229, 229, 0.84);
}

.auto-box {
  margin-bottom: 12px;
}

.auto-box a {
  color: #707070;
}

.auto-box a:hover {
  color: rgba(255, 73, 91, 0.8);
  text-decoration: none;
  transition: color 0.3s;
}

.auto-box a:focus {
  color: rgba(255, 73, 91, 0.8);
  text-decoration: none;
}

.submit-button > .btn-dark{
  box-shadow: 0 1px 3px rgba(82, 114, 255, 0.8);
}

.btn-dark:hover, .btn-dark:visited, .btn-dark:active {
  background-color: #0d0d0d;
}

.btn-dark:hover span, .btn-dark:visited span, .btn-dark:active span {
  color: white;
}

.btn-dark span {
  color: black;
}

.form {
  display: none;
}

.form-active {
  display: block;
}

.border-active::before {
  content: '';
  display: block;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index:-1;
  position: absolute;
  border: 1px solid transparent;
  transition: width 1s ease-in 1s, height 1s ease-out, border-color 4s, box-shadow 4s ease-in-out;
}

.border-active::after {
  content: '';
  display: block;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  z-index:-1;
  position: absolute;
  border: 1px solid transparent;
  transition: width 1s ease-in 1s, height 1s ease-out, border-color 4s, box-shadow 4s ease-in-out;
}

.border-shine::before {
  content: '';
  display: block;
  top: 0;
  left: 0;
  z-index:-1;
  position: absolute;
  border-top: 1px solid rgba(72, 207, 164, 0.84);
  border-right: 1px solid rgba(72, 207, 164, 0.84);
  box-shadow: inset -1px 1px 1px rgba(72, 207, 164, 0.84);
  width: 100%;
  height: 100%;
  transition: width 1s ease-in, height 2s ease-out 1s, border-color 3s, box-shadow 4s ease-in-out;
}

.border-shine::after {
  content: '';
  display: block;
  right: 0;
  bottom: 0;
  z-index:-1;
  position: absolute;
  border-bottom: 1px solid rgba(72, 207, 164, 0.84);
  border-left: 1px solid rgba(72, 207, 164, 0.84);
  box-shadow: inset 1px -1px 1px rgba(72, 207, 164, 0.84);
  width: 100%;
  height: 100%;
  transition: width 1s ease-in, height 2s ease-out 1s, border-color 3s, box-shadow 4s ease-in-out;
}

.tip{
  display: none;
}
.tip-active{
  display: inherit;
}

.pwd-tip-sm{
  background: rgba(175, 34, 37, 0.84);
}
.pwd-tip-md{
  background: rgba(207, 200, 56, 0.84);
}
.pwd-tip-lg{
  background: rgba(0, 186, 207, 0.84);
}
.pwd-tip-xl{
  background: rgba(70, 207, 40, 0.84);
}
.font-hidden{
  color: rgba(255, 255, 255, 0);
}
.has-success, .has-success:focus{
  border-color: rgba(70, 207, 40, 0.8);
  border-radius: 5px;
  box-shadow: inset 0 2px 2px rgba(70, 207, 40, 0.8);
}

.captcha{
  position: absolute;
  right:5%;
  border: 1px solid transparent;
  border-radius: 4px;
  height: 34px;
  cursor: pointer;
}

.msg-container{
  position: fixed;
  z-index: 2;
  left: 50%;
  margin-left: -100px;
  top: 40px;
  width: 200px;
  height: 100px;
  background: rgba(253, 253, 253, 0.73);
}
.shadow-info{
  box-shadow: inset 0 1px 1px rgba(1, 124, 207, 0.84),
  inset 0 -1px 1px rgba(1, 124, 207, 0.84),
  inset -1px 0 1px rgba(1, 124, 207, 0.84),
  inset 1px 0 1px rgba(1, 124, 207, 0.84);
}
.shadow-danger{
  box-shadow: inset 0 1px 1px rgba(207, 37, 52, 0.84),
  inset 0 -1px 1px rgba(207, 37, 52, 0.84),
  inset -1px 0 1px rgba(207, 37, 52, 0.84),
  inset 1px 0 1px rgba(207, 37, 52, 0.84);
}
.msg-vertical{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.font-bigger{
  letter-spacing: 2px;
  font-size: 18px;
}

.font-info{
  color: rgba(1, 124, 207, 0.84);
}

.font-danger{
  color: rgba(207, 37, 52, 0.84);
}

[class^="icon-"] {
  display: inline-block!important;
}
.button-inline .btn{
  padding: 6px 0;
}