{% extends 'index.html' %}
{% load staticfiles %}
{% block index_active %}
{% endblock %}
{% block message_active %}
active
{% endblock %}
{% block left_content %}
<section class="left-content">
    <div class="board-msg">
        <h3 class="text-center">留言板</h3>
        <p class="text-center msgs">
            留言板功能暂未开放
{#            <span></span>#}
{#            <span>2018年x月x日</span>#}
{#            <span>xxx人阅读</span>#}
{#            <span>x条留言</span>#}
        </p>
    </div>
    <div class="message">

    </div>
</section>
{% endblock %}
{% block another_content %}
<div class="form-tips" style="display: block">
    <div class="tips-box">
        <div class="tips">
            <p>留言版功能暂未开放<a class='icon-remove-sign fr icon-abs' href='{% url 'blog:index' %}'></a></p>
        </div>
    </div>
</div>
{% endblock %}
